In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
credit_card_data=pd.read_csv('C:/Users/olama/OneDrive/Desktop/MACHINE/Credit-Card-Fraud-Detection/creditcard.csv')

In [3]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [6]:
#data analysis
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

## we notice that the data is unbalanced

In [41]:
# create 2 dataframes each for a class type (fraud or legit)
legit_data = credit_card_data[credit_card_data.Class == 0]
fraud_data = credit_card_data[credit_card_data.Class == 1]

In [42]:
#we will take a sample of legit data equal to fraud data
legit_sample = legit_data.sample(n=492)

In [43]:
new_dataset = pd.concat([legit_sample, fraud_data], axis=0)
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
240568,150659.0,-1.159060,-0.330353,1.807810,-0.856304,0.533649,-0.429168,0.345386,-0.035786,0.632456,...,0.239962,1.123080,0.271927,0.018819,0.005771,-0.355657,-0.051435,-0.145692,6.25,0
94120,64742.0,-1.444503,0.286541,2.195133,-0.797871,-1.134730,-0.159115,0.103587,0.374686,0.868565,...,-0.113960,-0.165570,-0.107829,0.651229,-0.383175,0.730903,-0.440562,-0.272200,79.54,0
255376,157193.0,2.232026,-1.526160,-0.999141,-1.594258,-1.170810,-0.364418,-1.165763,-0.145308,-1.088819,...,-0.158198,-0.058366,0.214115,0.454150,-0.209215,-0.199650,0.007635,-0.034919,59.00,0
243208,151842.0,-0.815735,-0.282059,-1.079770,-4.514169,0.233987,-1.499168,0.544419,0.243420,-0.090928,...,-0.011388,0.302277,-0.010277,0.668401,-0.142459,-1.064381,0.327282,0.146184,49.98,0
2887,2437.0,-0.344139,0.515851,0.740874,-2.327595,0.480129,-0.747351,0.937298,-0.145947,0.889503,...,0.038115,0.374858,-0.390164,-0.538110,0.095544,-0.799890,0.222787,-0.035918,1.00,0

In [44]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [45]:
X = new_dataset.drop(columns='Class',axis=1)
Y= new_dataset['Class']

## splitting data to train and test data

In [46]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [47]:
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

In [48]:
model=LogisticRegression()

In [49]:
model.fit(X_train,Y_train)

C:\Users\olama\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [50]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9491740787801779

In [51]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9289340101522843